// Nav mobile------------------------------------------------------
.nav-mobile {
    position: relative;
  }
  
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    position: relative;
    top: -40px;
    left: 0px;
    background-color: #000;
  }
  .menu-icon:hover{
    color: rgb(0, 0, 255);
  }
  .nav-mobile_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: relative;
    top: -40px;
    left: 0px;
    background-color: rgb(0, 0, 0);
  }
  .nav-mobile_menu li {
    padding: 10px;
    width: 60%;
  }
  .nav-link4{
    color: #ffffff;
    text-decoration: none;
    margin-left: 10%;
    margin-bottom: 5vh;
  }
  .nav-link4:hover{
    color: blue;
    transition: 0.4s;
  }
  .topmobile{
    display: flex;
    flex-direction: column;
  }
  .header-mobile-right{
    position: absolute;
    right: -20%;
    top: 30%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav-mobile_menu li a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
  }
  .nav-mobile_menu li a:hover{
    color: blue;
    transition: 0.4s;
  }
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .topmobile .nav-mobile_menu {
    display: block;
  }
  

  @media screen and (min-width: 1100px) {
    .header3 {
      display: none;
    }
    .navmobile {
        display: none;
    }
}
@media screen and (max-width: 1100px) {
    .nav1 {
        display: none;
    }
    .nav2 {
          display: none;
    }
    .header1{
        opacity: 0;
        top: 1000px;
    }
    .search{
        display: none;
    }
    .header2{
        display: none;
    }
    .logo{
        display: none;
    }
    .header3{
      font-size: 0.70em;
      position: fixed;
      width: 100%;
      top: 5.5%;
      z-index: 10;
      
    }
 
  }