.flex_discover{

    .container_encarts_discover1{
        padding-bottom: 50px;
    }

    .container_encarts_discover2{
        padding-bottom: 50px;
    }
}

.titleh2{
    text-align: center;
    font-weight: 600;
    font-style: italic;
}

.body-discover {
    font-family: 'Poppins', sans-serif;
}