.body-ip {
    font-family: 'Poppins', sans-serif;
}

.container_flex{
    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    padding-top: 100px;

    
    .container_encarts_1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        padding-bottom: 50px;
    }

    .container_encarts_2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        padding-bottom: 50px;
    }

    .container_encarts_3{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;

        .zone1{
            z-index: 2;
        }

        .zone2{
            z-index: 1;
        }
    }
}

article{
    display: flex;
    justify-content: center;
}

.main_article{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    margin-top: 50px;

    .titleh1{
        text-align: center;
        font-weight: 900;
    }

}

.encarts{
    position: relative;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    

    .little_title{
        position: absolute;
        top: 5%;
        left: 30%;
        text-align: center;
        background: linear-gradient(180deg, rgba(55,119,207,1) 50%, rgba(4,31,227,1) 70%);
        color: white;
        padding: 5px;
        border-radius: 5px;
    }

    .little_text{
        position: absolute;
        bottom: 5%;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 20px;
        backdrop-filter: blur(2px);
    }

    .little_image{
        border-radius: 6px;
    }
}

.encarts:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

@media only screen and (max-width: 600px) {

    .container_flex{
            padding-left: 300px;
            
        .container_encarts_1{
            display: flex;
            flex-direction: column;
        }
    
        .container_encarts_2{
            display: flex;
            flex-direction: column;
        }
    
        .container_encarts_3{
            display: flex;
            flex-direction: column;
        }

        .little_title{
            left: 15%;
        }
    }
}